<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark scrolling-navbar"style="
background-color: rgba(220,220,220,0.2);" >
    <div class="container">

      <!-- Brand -->
      <a class="navbar-brand" [routerLink]="['']" target="_blank">
        <strong>Test</strong>
      </a>

      <!-- Collapse -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Links -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <!-- Left -->
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" [routerLink]="['']">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="open()" target="_blank"> Create</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['\list']" >View List </a>
          </li>
        </ul>


      </div>

    </div>
  </nav>

<br>
<br>
<br>
<br>
<br>
  <!-- Full Page Into -->
<!-- Full Page Int -->
<!--fffa-->